.grid {
  display: flex;
  align-items: center;
  gap: 16px;

  &__control {
    flex: 1 1 0;
    min-width: 0;
  }

  @media screen and (max-width: 980px) {
    flex-direction: column;
    align-items: stretch;
  }
}